<div class="article-row">
  <h2><%= @article.title %></h2>
  <%= @article.company_name %>/<%= @article.reporter_name %>
  <%= link_to '詳細', article_path(@article), class:'btn btn-large' %>
  <div>
  <% @article.line_reviews.limit(3).each do |lr| %>
    <div class="review">
      <% lr.tags.each do |tag| %>
        <span class="label label-warning"><%= tag %></span>
      <% end %>
      <%= truncate(lr.text, length:80) %>
      <% if lr.involved_personally? %>
        <span>我是當事人</span>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
