<%
set_meta_tags(
  description:'紀錄新聞錯誤，改善新聞品質。',
  og:{
    url:root_url,
    title:'新聞糾正',
    type:'website'
  }
)
%>
<%= form_tag articles_path do %>
  <%= url_field_tag :url, nil, placeholder:'貼上新聞 url 開始糾正' %>
  <%= submit_tag '糾正新聞', class:'btn btn-primary btn-large' %>
<% end %>
<p class="notice">目前能夠糾正的媒體網站為：<a href="http://appledaily.com.tw/" target="_blank">蘋果日報</a>、<a href="http://udn.com" target="_blank">聯合報</a>、<a href="http://www.chinatimes.com/" target="_blank">中國時報</a>、<a href="http://www.libertytimes.com.tw/" target="_blank">自由時報</a>、<a href="http://www.cna.com.tw/" target="_blank">中央社</a>、<a href="http://www.ettoday.net/" target="_blank">東森新聞</a>、<a href="http://www.tvbs.com.tw/" target="_blank">TVBS</a>、<a href="http://www.cts.com.tw/" target="_blank">華視</a>、<a href="http://www.nownews.com/" target="_blank">NowNews</a></p>

<p class="alert">如為當事人想要糾正，請先登入後，用右上方的Facebook認證，就可以開啟當事人認證功能</p>

<div class="row-fluid">
  <div class="span10">
    <% @articles.each do |article| %>
      <%= render_cell :article, :index_item, article %>
    <% end %>
  </div>
  <div class="span2">
    <%= render_cell :article, :company_list %>
  </div>
</div>

<%= paginate @articles %>
