<table class="table">
  <p><b>媒體：</b><%= @article.company_name %> <b>記者：</b><%= @article.reporter_name %></p>
  <thead>
    <th class="content">內文</th>
    <th class="control"></th>
  </thead>
  <tbody>
<% @article.lines.each do |l| %>
  <tr>
    <td class="span6">
      <%= l.text %>
    </td>
    <td>
      <%= link_to '改正', new_review_path(line_id:l.id), class:'btn', :data => { :colorbox => true } %>
    </td>
    <% l.reviews.each do |r| %>
      <td>
        <span class="label"><%= r.tags.first.try(:name) %></span>
        <%= r.text %>
      </td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
