<style>
body, html{
  height:100%;
  margin:0;
  padding:0;
}
.source{
  height:100%; width:500px;
  float:left;
}
.source iframe{
  height: 99%; width: 100%; padding:0; margin:0; border:0;
}
.review{
  float:left;
  width:50%;
  padding:2em;
}
</style>

<div class="source">
  <iframe src="<%= @article.url %>"></iframe>
</div>

<div class="review">
  <% title "Article" %>

  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
  <p>
    <strong>Reporter Name:</strong>
    <%= @article.reporter_name %>
  </p>
  <p>
    <strong>Content:</strong>
    <% @article.lines.each do |l| %>
      <% if l.reviews.size > 0 %>
        <table>
          <tr>
            <td>
              <%= l.text %>
            </td>
          <% l.reviews.each do |r| %>
            <td>
            <%= r.text %>
            </td>
          <% end %>
        </tr>
      </table>
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>Published At:</strong>
    <%= @article.published_at %>
  </p>
  <p>
    <strong>Url:</strong>
    <%= @article.url %>
  </p>
  <p>
    <strong>Company Name:</strong>
    <%= @article.company_name %>
  </p>
  
  <p>
    <%= link_to "View All", articles_path %>
  </p>
</div>
