<style>
body, html{
  height:100%;
  margin:0;
  padding:0;
}
body{
  padding-top: 40px;
}
.source{
  height:100%; width:500px;
  float:left;
}
.source iframe{
  height: 99%; width: 100%; padding:0; margin:0; border:0;
}
.review{
  float:left;
  width:50%;
  padding:2em;
}
</style>

<div class="source">
  <iframe src="<%= @article.url %>"></iframe>
</div>

<div class="review">
  <% title "Article" %>
  <p>
    <%= link_to "糾正本篇新聞", review_article_path(@article), class:'btn btn-warning' %>
  </p>
  <% @article.lines.each do |l| %>
    <% if l.reviews.present? %>
    <div class="well">
      <blockquote><%= l.text %></blockquote>
      <% l.reviews.each do |r| %>
        <span class="label"><%= r.tags.first.try(:name) %></span>
        <%= r.text %>
        <br />
        <% if can?(:destroy, r) %>
          <div class='control'>
            <%= link_to '刪除', review_path(r), method:'delete', class:'btn btn-danger' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  <% end %>
<!--
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
  <p>
    <strong>Reporter Name:</strong>
    <%= @article.reporter_name %>
  </p>
  <p>
    <strong>Content:</strong>
    <% @article.lines.each do |l| %>
      <% if l.reviews.size > 0 %>
        <table>
          <tr>
            <td>
              <%= l.text %>
            </td>
          <% l.reviews.each do |r| %>
            <td>
            <%= r.text %>
            </td>
          <% end %>
        </tr>
      </table>
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>Published At:</strong>
    <%= @article.published_at %>
  </p>
  <p>
    <strong>Url:</strong>
    <%= @article.url %>
  </p>
  <p>
    <strong>Company Name:</strong>
    <%= @article.company_name %>
  </p>
  -->
</div>
