<h2><%= title '身份認證' %></h2>
<p>
本功能主要是為了讓新聞當事人作糾正時，能夠用Facebook證明自己的身份。</br>
當您用 Facebook 認證過後，糾正時就可以使用「我是當事人」的功能。</br>
該糾正會出現一個連結說明此糾正就是 Facebook 上的那個你。
</p>

目前認證過的網路身份：
<ul>
<% @identities.each do |identity| %>
  <%
    url = identity.raw['info']['urls'].try(:first).try(:last)
    image = identity.raw['info']['image']
  %>
  <li>
    <span class="label"><%= identity.provider.capitalize %></span>
    <%= link_to('頁面連結', url) if url %>
    <%= image_tag image if image %>
  </li>
<% end %>
</ul>
<hr/>
<ul>
  <li><%= link_to '連結 Facebook 帳號', '/auth/facebook' %></li>
  <% if Rails.env.development? %>
    <li><%= link_to '連結 Dev 帳號', '/auth/developer' %></li>
  <% end %>
</ul>
