<ul class="nav pills pull-right">

  <li>
    <div class="social"><%#=  fb_like(Setting.domain) %></div>
  </li>

<% if current_user && !current_user.guest? %>

  <li class="dropdown">
    <%= link_to "#" , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
      <%= current_user.email %>
    <% end %>

    <%= render_list :class => "dropdown-menu" do |li|
        li << link_to("認證Facebook",identities_path)
        li << link_to("登出",destroy_user_session_path, :method => :delete )
    end %>

  </li>

<% elsif current_user && current_user.guest? %>

  <li class="dropdown">
    <%= link_to "#" , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
      目前身分：訪客(可使用全部功能)
    <% end %>
  </li>
  <li>
    <%= link_to('#', class:'persona-button dark') do %>
      <span>登入</span>
    <% end %>
  </li>

<% end %>

</ul>
