<!DOCTYPE html>
<html>
<head>
  <title>NewsSucks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to '新聞糾正', root_url, class:"brand" %>
        <ul class="nav">
          <li>
            <%= link_to '《關於本站以及誠徵工作人員》', page_path('about') %>
          </li>
        </ul>
        <div class="nav-collapse collapse">
          <%= render :partial => "common/user_nav"%>
        </div>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
